[deez_login]
mail = 
password = 
token = 

[pyrogram]
api_id = 
api_hash = 
session_string = 

[telegram]
bot_token = 

[acrcloud]
key = 
secret = 
host = 

[database]
db_host = 
db_username = 
db_password = 
db_name = 
db_type = 